*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    overflow-x: hidden;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-pic{
   display: flex;
   justify-content: space-between;
   width: 92.5%;
   align-items: center;
   padding: 16px 120px 16px 120px;
   max-width: 1600px;
   margin: 0 auto;
   background-color: #FFFFFF;
}


.menu ul li {
    text-decoration: none;
    display: inline;
}

    

a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.menu ul{

    display: flex;
    gap: 20px;
    
}
.btn{
    background-color: #469165;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}
.btn:hover{
    background-color: green;
    cursor: pointer;
}
#banner{
    background-image: url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
    width: 1600px;
    height: 2926px;
    margin: 0 auto;
    
}
 #banner div{
    text-align: center;
     padding-top: 60px;
     gap: 16px;
  
 }
 .banner-text span{
    size: 16px;
    color: #469165;
    background-color: #FFFFFF;
    padding: 8px 12px 8px 12px ;
    border-radius: 1000px;
  
 }
 .banner-headline h1{
    font-style: bold;
    color: #FFFFFF;
    font-size: 72px;
 }
 .banner-headline h1 span{
    color: #469165;
    font-size: 72px;
    font-style: bold;
 }
 #banner div p{
    font-size: 18px;
    color: #FFFFFF;
 }
  .btn-green{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
 
 }
 .btn-green:hover{
    background-color: green;
    cursor: pointer;
 }

 .btn-trans{
    color: #FFFFFF;
    background-color: #fdfcfc00;
    border: 1px solid white;
    padding: 12px 16px 12px 16px;

 }
 .btn-trans:hover{
    background-color: #469165;
    cursor: pointer;
 }